rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /posts/featuredImage/{imageName} {
      allow read:if true;
      allow create:if true;
      allow update:if false;
      allow delete:if false;
    }
  }
}
